/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.formR {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 50px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 60px;
}

.formR input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 2px solid #b15b5b;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
}

.formR button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b15b5b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 60px;
}

.formR button:hover,
.form button:active,
.form button:focus {
  background: #dd8383;
}

.formR .img-sm {
  text-align: center;
  width: 100%; /* Aumentado el ancho */
}

.formR .img-sm img {
  width: 230px; /* Tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: -30px 9px 0; /* Centra la imagen horizontalmente */
  transition: transform 0.3s ease;
}

.formR .img-sm img:hover {
  transform: scale(1.1); /* Agrandar la imagen al pasar el cursor por encima */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .formR {
    max-width: 300px;
    padding: 30px;
    margin: 30px auto 80px;
  }

  .formR input, .formR button {
    padding: 12px;
    font-size: 12px;
  }

  .formR .img-sm img {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .formR {
    max-width: 260px;
    padding: 20px;
    margin: 20px auto 60px;
  }

  .formR input, .formR button {
    padding: 10px;
    font-size: 10px;
  }

  .formR .img-sm img {
    width: 150px;
  }
}
