@font-face {
    font-family: 'Figtree-Medium';
    src: url('scr/Fonts/Figtree-Medium.ttf') format('truetype');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7931e;
    padding: 10px 20px;
    position: relative;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links, .auth-links {
    display: flex;
}

.nav-links a, .auth-links a {
    color: #212529;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px;
    display: block;
    font-family: 'Figtree-Medium', sans-serif;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

.MiniLogo {
    background-color: #f7931e;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MiniLogo:hover {
    transform: scale(1.125);
}

.MiniLogo svg {
    vertical-align: middle;
}

.mobile-menu-icon {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos para el menú desplegable */
.profile-dropdown {
    position: relative;
    cursor: pointer;
}

.profile-name {
    padding: 10px 15px;
    color: #212529;
    font-family: 'Figtree-Medium', sans-serif;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-name:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1;
    border: 1px solid orange;
    border-radius: 10px;
}

.dropdown-menu a {
    padding: 10px 15px;
    color: #212529;
    text-decoration: none;
    font-family: 'Figtree-Medium', sans-serif;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #e67e22;
    border-radius: 10px;
}
