.edit-page-admin {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: calc(100vh - 50px); 
  margin-top: 50px;
}

.formL-admin {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto 80px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 50px;
}

.formL-admin h2 {
  color: #b15b5b; /* Mismo color que el botón */
  margin-bottom: 30px;
  font-size: 24px;
}

.formL-admin input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 2px solid #b15b5b;
  margin: 0 0 15px;
  padding: 15px; /* Aumentar el padding de los inputs */
  box-sizing: border-box;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  color: black;
  border-radius: 60px;
}

.formL-admin button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b15b5b;
  width: 100%;
  border: 0;
  padding: 20px; /* Aumentar el padding del botón */
  color: #FFFFFF;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 60px;
}

.formL-admin button:hover {
  background: #dd8383;
}

.formL-admin .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px; 
}

.formL-admin .message a {
  color: #af4c4c;
  text-decoration: none;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}
